<% layout('layout') %>
<h2>Détails du produit</h2>
<p>ID : <%= product.id %></p>
<p>Nom : <%= product.name %></p>
<p>Description : <%= product.description %></p>
<p>Quantité : <%= product.quantity %></p>
<p>Prix : <%= product.price %></p>
<a href="/products">Retour</a>